{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'access_users/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Número</th>
    <th>Usuario</th>
    <th>Fecha de registro</th>
    <th>Hora</th>
    <th>Localhost</th>
    <th>Navegador</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block javascript_list %}

{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>{{ form.date_range.label }}:</label>
                <div class="input-group">
                    {{ form.date_range }}
                    <div class="input-group-append">
                        <button class="btn btn-primary btnSearchAll" type="button">
                            <i class="fas fa-calendar-check"></i> Ver todas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block box_footer %}

{% endblock %}