{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.9.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.9.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/locales/es_ES.min.js' %}"></script>
    <script src="{% static 'scm/product/js/list.js' %}"></script>
    <script src="{% static 'scm/product/js/upload_excel.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Número</th>
    <th>Nombre</th>
    <th>Código</th>
    <th>Categoría</th>
    <th>Inventariado</th>
    <th>Imagen</th>
    <th>P./Compra</th>
    <th>P./Venta</th>
    <th>P./Promoción</th>
    <th>Stock</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block box_footer_add_button %}
    <a class="btn btn-info btn-flat btnUpload">
        <i class="fas fa-upload"></i> Subir Excel de Productos
    </a>
{% endblock %}

{% block javascript_list %}
    <div class="modal fade" id="myModalUploadExcel" tabindex="-1" role="dialog" aria-hidden="true">
        <form method="post" id="frmForm" action="." autocomplete="off">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-upload"></i> Subir Productos</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <a class="text-success" href="{% url 'product_export_excel' %}" target="_blank">
                                <i class="fas fa-file-excel"></i> Exportar excel actual de productos dando click aquí
                            </a>
                            <hr>
                            <div class="form-group">
                                <label>Archivo de excel:</label>
                                <input type="file" class="form-control"
                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       name="archive" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-upload"></i> Subir excel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
