{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'crm/promotions/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-center">Número</th>
    <th>Fecha de inicio</th>
    <th>Fecha de finalización</th>
    <th>Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="form-group">
                <label>{{ form.date_range.label }}:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <div class="input-group-append">
                        <button class="btn btn-primary btnSearchAll" type="button">
                            <i class="fas fa-calendar-check"></i> Ver todas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="modal fade" id="myModalDetails" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b><i class="fa fa-search" aria-hidden="true"></i> Detalle de los productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <table style="width:100%;" class="table table-bordered table-sm" id="tblProducts">
                                    <thead>
                                    <tr>
                                        <th style="width: 45%;">Producto</th>
                                        <th style="width: 15%;">P./Actual</th>
                                        <th style="width: 10%;">Dscto</th>
                                        <th style="width: 15%;">V./Dscto</th>
                                        <th style="width: 15%;">P./Final</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_list %}

{% endblock %}