{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'group/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="text-center">Número</th>
    <th>Nombre</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block javascript_list %}

{% endblock %}

{% block content_list_before %}
    <div class="modal fade" id="myModalGroup" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-search"></i> Consulta de modulos/permisos
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Módulos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Permisos</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <br>
                                <table style="width:100%;" class="table table-bordered" id="tblModules">
                                    <thead>
                                    <tr>
                                        <th>Módulo</th>
                                        <th>Icono</th>
                                        <th>Imagen</th>
                                        <th>Tipo</th>
                                        <th>¿Es vertical?</th>
                                        <th>¿Es visible?</th>
                                        <th>¿Esta activo?</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <br>
                                <table style="width:100%;" class="table table-bordered" id="tblPermissions">
                                    <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Permiso</th>
                                        <th>Código</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
