{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'crm/devolution/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Número</th>
    <th>Venta</th>
    <th>Producto</th>
    <th>Fecha de registro</th>
    <th>Cantidad devuelta</th>
    <th>Motivo</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="form-group">
                <label>{{ form.date_range.label }}:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <div class="input-group-append">
                        <button class="btn btn-primary btnSearchAll" type="button">
                            <i class="fas fa-calendar-check"></i> Ver todas
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_list %}

{% endblock %}