{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="{{ dashboard.get_image }}"/>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.6.0/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/fontawesome-6.1.1/css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.css' %}"/>
    <!--Javascript-->
    <script src="{% static 'lib/bootstrap-4.6.0/js/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-4.6.0/js/popper.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-4.6.0/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.2.0/js/adminlte.min.js' %}"></script>
    <!--Template-->
    <link rel="stylesheet" href="{% static 'lib/adminlte-3.2.0/css/adminlte.css' %}"/>
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!--Libs-->
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/jquery-confirm-3.3.4/js/jquery-confirm.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-3.3.4/css/jquery-confirm.min.css' %}"/>
    <script src="{% static 'lib/sweetalert2-11.0.16/js/sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/sweetalert2-11.0.16/css/sweetalert2.min.css' %}"/>
    <script src="{% static 'lib/jquery-loading-overlay-2.1.7/js/loadingoverlay.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <!--Block head-->
    {% block head %}{% endblock %}
</head>
<!--Block body-->
{% block body %}

{% endblock %}
<!--Javascript-->
<script src="{% static 'js/main.js' %}"></script>
</html>