{% extends 'list.html' %}
{% load widget_tweaks %}
{% load security_extras %}
{% load static %}
{% block head_list %}
    <!--Formvalidation Libs-->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.9.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.9.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/locales/es_ES.min.js' %}"></script>
    <!--Block head form-->
    {% block head_form %}{% endblock %}
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmForm" data-url="{{ list_url }}" autocomplete="off">
        <div class="card {{ dashboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" name="action" id="action" value="{{ action }}">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label>{{ field.label }}:</label>
                            {% if field|is_checkbox %}
                                 <br>{{ field }}
                            {% else %}
                                {{ field|add_class:'form-control' }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% block box_footer %}
                <div class="card-footer">
                    {% block buttons %}
                        <button type="submit" class="btn btn-primary btn-flat">
                            <i class="fas fa-save"></i> Guardar registro
                        </button>
                        <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </form>
{% endblock %}
