{% extends 'skin.html' %}
{% load static %}
{% load security_extras %}
{% block breadcrumb %}{% endblock %}

{% block section_content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt-5">
                    <div class="card {{ dashboard.card }}">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-home"></i>
                                {{ title }}
                            </h3>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs" role="tablist">
                                    {% for module_type in request.session.group.id|get_module_type %}
                                        <li class="nav-item">
                                            <a class="nav-link{% if forloop.first %} active{% endif %}" data-name="module_header" data-toggle="tab" href="#tab{{ forloop.counter }}"><i class="{{ module_type.icon }}"></i> {{ module_type.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for module_type in request.session.group.id|get_module_type %}
                                        <div id="tab{{ forloop.counter }}" data-id="#tab{{ forloop.counter }}" class="mt-3 container tab-pane{% if forloop.first %} active{% else %} fade{% endif %}"><br>
                                            <div class="row">
                                                {% for module in module_type.get_modules_vertical %}
                                                    <div class="col-lg-3">
                                                        <a class="card p-3 shadow-sm card-icon pb-5 shadow" href="{{ module.url }}" data-id="{{ forloop.counter }}" data-name="single_module">
                                                            {% if module.image %}
                                                                <img alt="" src="{{ module.get_image }}" class="img-fluid mx-auto d-block">
                                                            {% else %}
                                                                <i class="{{ module.icon }} fa-3x text-center py-4"></i>
                                                            {% endif %}
                                                            <h4 class="font-weight-bold text-center">{{ module.name }}</h4>
                                                            <p class="desc">{{ module.description }}</p>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
