{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'lib/adminlte-3.2.0/plugins/fastclick/fastclick.js' %}"></script>
    <!--Block head of body-->
    {% block head_body %}{% endblock %}
{% endblock %}

{% block body %}
    <body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!--Include template header-->
        {% include 'hzt_header.html' %}
        <!--Content-->
        {% block section_content %}
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <!--Block breadcrumb-->
                                {% block breadcrumb %}
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i
                                                    class="fas fa-home"></i> Panel</a></li>
                                            {% block breadcrumb_li %}
                                                <li class="breadcrumb-item active" aria-current="page"><a
                                                        href="{{ request.session.module.url }}"><i
                                                        class="{{ request.session.module.get_icon }}"></i> {{ request.session.module.name }}
                                                </a></li>
                                            {% endblock %}
                                        </ol>
                                    </nav>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </section>
                <div class="content">
                    <div class="container">
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        <!--Include template footer-->
        {% include 'footer.html' %}
    </div>
    <script>
        {% if messages %}
            var html = '<p>';
            {% for message in messages %}
                html += '{{ message }}<br>';
            {% endfor %}
            html += '</p>';
            Swal.fire({
                title: 'Error!',
                html: html,
                icon: 'error'
            });
        {% endif %}
    </script>
    </body>
{% endblock %}