{% extends 'login/base.html' %}
{% load static %}
{% block head_login %}
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/PasswordStrength.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/zxcvbn.js' %}"></script>
    <script src="{% static 'login/js/update_password.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-box-body">
            <div class="card">
                <div class="card-body login-card-body">
                    <div class="contact-image">
                        <i class="{{ dashboard.get_icon }} fa-5x"></i>
                    </div>
                    <p class="login-box-msg">Reseteo de Password</p>
                    <form method="post" id="frmForm" data-url="{{ list_url }}" autocomplete="off">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="password">{{ form.password.label }}:</label>
                            <div class="input-group my-group">
                                {{ form.password }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary btnShowPassword btn-flat" type="button">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">{{ form.confirm_password.label }}:</label>
                            <div class="input-group my-group">
                                {{ form.confirm_password }}
                                <div class="input-group-append">
                                    <button class="btn btn-primary btnShowPassword btn-flat" type="button">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="progress password-progress">
                                <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0;"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button id="btnLogin" class="btn btn-primary btn-block btn-flat" type="submit">
                                    <i class="fas fa-lock"></i> Cambiar
                                </button>
                            </div>
                        </div>
                    </form>
                    <p class="mt-3 text-center desc">
                        Si deseas retornar<a href="{{ list_url }}"> da click aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}